[submodule "Client"]
	path = Client
	url = https://github.com/PrivateHudson1/AI-Knowledge-Client.git
[submodule "Server"]
	path = Server
	url = https://github.com/PrivateHudson1/AI-Knowledge-Api-Server.git
[submodule "KnowledgeClient"]
	path = KnowledgeClient
	url = https://github.com/PrivateHudson1/AI-Knowledge-Client.git
